<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
        <header class="header">
                <div class="header-content">
                <div class="logo-container"><a href="index.html" class="homepage"><p class="logo">stack<span class="logo_sub">overflow</span> <span class="logo_sub_2">lite</span></p></a></div>
                <div class="menu"><img src="">
                </div>
                <nav class="nav">
                    <!-- <div class="list"><a  href="#" ><img src="./icons/icons8-list-32.png"></a></div> -->
                    <div class="login nav__item"><h4><a href="login.html">Log in</a></h4></div>
                    <div class="signup nav__item"> <h4 class="ask-questions"> <a href="askQ.html">Ask Questions</a></h4></div>
                </nav>
            </div>
            </header>

            <section id="main">
                    <div class="container">
                        <h1 class="page-title">Top Questions</h1>
                        <div class="question">
                            <h3>How can i upload picture to my website</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus quis sapien eu tempor. Suspendisse
                                vestibulum felis vel ornare porttitor. Duis at tellus facilisis, mollis mi sit amet, porta quam. Integer
                                sit amet pellentesque quam, non volutpat lectus. Vivamus hendrerit justo sed augue viverra, elementum
                                maximus tortor vehicula. Donec vitae sem odio. Donec sed eros eu ipsum pulvinar congue. Sed arcu sapien,
                                mollis quis sodales et, pharetra at est.</p>
                        </div>
                        <hr>
                        <h1>2 Answers</h1>
                        <div class="answers">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus quis sapien eu tempor. Suspendisse
                                vestibulum felis vel ornare porttitor. Duis at tellus facilisis, mollis mi sit amet, porta quam. Integer
                                sit amet pellentesque quam, non volutpat lectus. Vivamus hendrerit justo sed augue viverra, elementum
                                maximus tortor vehicula. Donec vitae sem odio. Donec sed eros eu ipsum pulvinar congue. Sed arcu sapien,
                                mollis quis sodales et, pharetra at est.</p>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus quis sapien eu tempor. Suspendisse
                                vestibulum felis vel ornare porttitor. Duis at tellus facilisis, mollis mi sit amet, porta quam. Integer
                                sit amet pellentesque quam, non volutpat lectus. Vivamus hendrerit justo sed augue viverra, elementum
                                maximus tortor vehicula. Donec vitae sem odio. Donec sed eros eu ipsum pulvinar congue. Sed arcu sapien,
                                mollis quis sodales et, pharetra at est.</p>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus quis sapien eu tempor. Suspendisse
                                vestibulum felis vel ornare porttitor. Duis at tellus facilisis, mollis mi sit amet, porta quam. Integer
                                sit amet pellentesque quam, non volutpat lectus. Vivamus hendrerit justo sed augue viverra, elementum
                                maximus tortor vehicula. Donec vitae sem odio. Donec sed eros eu ipsum pulvinar congue. Sed arcu sapien,
                                mollis quis sodales et, pharetra at est.</p>
                            <hr>
                        </div>
                        <div class="answers">
                            <h1>post Your Answer</h1>
                            <form action="">
                                <label for="uname">
                                    <b>Title</b>
                                </label>
                                <input type="text" placeholder="Enter Username" name="uname" required>
                                <label for="passwd">
                                    <b>Body</b>
                                </label>
                                <textarea type="password" placeholder="Enter Password" name="ans" rows="10" cols="50" style="width: 100%" required>
                                </textarea>
                                <button type="submit">Answer</button>
                            </form>
                        </div>
                    </div>
                </section>
            


</body>
</html>